{% extends '_base.html' %}

{% block title %}
    <title>Burello - Board View Page</title>
{% endblock %}

{% block header_section %}
    <div class="col-9"><h6 class="board-title h3">{{board.title}}</h6></div>
    <ul class="col-3 inline-list d-flex justify-content-end">
        {% if board.created_by == logged_user.key.id()|string %}
        <li class="ml-3 mr-3">
            <a href="/boards/{{board.key.id()}}/{{board_index}}/invite-member" title="Invite Member" class="btn btn-sm btn-transparent" style="font-size: 18px;">+&nbsp;<i class="far fa-user"></i></a>
        </li>
        {% endif %}
        <li class="mr-5">
            <a href="/boards/{{board.key.id()}}/{{board_index}}/add-task" title="Add Task" class="btn btn-sm btn-transparent" style="font-size: 18px;">+&nbsp;<i class="fas fa-tasks"></i></a>
        </li>
    </ul>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <ul class="row inline-list">
                    <li class="list-tab">
                        <a href="#">Board Members</a>
                    </li>
                </ul>
            </div>
            <div class="col-12">
                <ul class="row inline-list member-list">
                    {% for member in board_members %}
                        <li
                            class="col-md-3 col-sm-6 li"
                            title="{{member.firstname}} {{member.lastname}} ({{member.initials}})"
                        >
                            <div class="member-item d-flex justify-content-between">
                                <span class="text-truncate">{{member.firstname}} {{member.lastname}}(<span class="abbrv-name">{{member.initials}}</span>)</span><a href="#" class="delete-user">x</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
           <div class="col-12">
               <ul class="row inline-list">
                   <li class="list-tab">
                       <a href="#">Task List</a>
                    </li>
               </ul>
           </div>
           <div class="col-12">
               <div class="row">
                {% if board.tasks|length == 0 %}
                    <div class="col-md-12">
                        <div class="row">
                                <h3 class="h6" style="width: 100%; height: 50vh; display: flex; align-items: center; justify-content: center;">No task found! </h3>
                        </div>
                    </div>
                {% else %}
                    <input type="hidden" value="{{board.key.id()}}" id="board_key" name="board_key">
                    <table class="table table-hover table-dark">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <!-- <input type="checkbox" checked> -->
                                </th>
                                <th scope="col">Title</th>
                                <th scope="col">Due Date</th>
                                <th scope="col">Assigned To</th>
                                <th scope="col">Member Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for task in board.tasks %}
                            {% set task_index = loop.index-1 %}
                                <tr>
                                    <th scope="row" style="width: 60px;">
                                        <input type="checkbox" data-task-index="{{task_index}}" onclick="updateTaskCompletedStatus(event)" {% if task.completed %} checked {% endif %}/>
                                    </th>
                                    <td>
                                        {{task.title}}
                                        {% if task.completed %}

                                        <br /><small>Completed On <strong>{{task.completed_on.strftime('%b %d %Y')}}</strong> at {{ utc.localize(dt_convert.utcfromtimestamp(time.mktime(task.completed_on.timetuple()))).astimezone(dublintz).strftime('%H:%M:%S') }}</small>
                                        {% endif %}
                                    </td>
                                    <td style="width: 150px;">{{task.due_date}}</td>
                                    <td style="width: 250px;">
                                        <div class="d-flex justify-content-between align-items-center" data-task-index="{{task_index}}">
                                            {% if task.assigned_to %}
                                                {% for member in board_members %}
                                                    {% if task.assigned_to == member.key.id()|string %}
                                                        <span
                                                            title="{{member.firstname}} {{member.lastname}} ({{member.initials}})"
                                                            class="text-truncate"
                                                        >
                                                            {{member.firstname}} {{member.lastname}} ({{member.initials}})
                                                        </span>
                                                        <span>
                                                            <button
                                                                onclick="assignTasktoBoardMember(event)"
                                                                class="badge badge-primary badge-pill"
                                                            >
                                                                <i class="fas fa-user-edit"></i>
                                                            </button>
                                                            <a
                                                                href="/boards/{{board.key.id()}}/{{board_index}}/{{task_index}}/unassign-task"
                                                                class="badge badge-danger badge-pill"
                                                            >
                                                                <i class="fas fa-trash"></i>
                                                            </a>
                                                        </span>
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                ---
                                                <button onclick="assignTasktoBoardMember(event)" class="badge badge-primary badge-pill"><i class="fas fa-user-edit"></i></button>
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td style="width: 200px; text-align: center;">
                                        <a
                                            href="/boards/{{board.key.id()}}/{{board_index}}/{{task_index}}/edit-task"
                                            class="btn btn-sm btn-outline-warning"
                                        >
                                            Edit
                                        </a>
                                        <a
                                            href="/boards/{{board.key.id()}}/{{board_index}}/{{task_index}}/delete-task"
                                            class="btn btn-sm btn-outline-danger"
                                        >
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
               </div>
           </div>
        </div>
    </div>
{% endblock %}
