{% extends '_base.html' %}

{% block title %}
    <title>Burello - Create Board</title>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <form action="/boards/create-board" method="POST" class="col-md-6 offset-md-3">
                <div class="row">
                    <h4 class="h4 d-flex justify-content-center mt-4 mb-2 text-secondary" style="width: 100%;">Create Task Board</h4>
                </div>
                <div class="form-row ml-3 mr-3 mt-3">
                    <div class="form-group col-md-12">
                        <input style="text-align: center;" type="text" class="form-control" id="board_title" name="board_title" placeholder="Enter Board Title">
                    </div>
                </div>
                <div class="form-row mb-5 mt-3">
                    <div class="form-group col-md-6 offset-md-3">
                        <input type="submit" class="btn btn-block btn-primary" name="button" value="Create Board">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
