{% extends '_base.html' %}

{% block title %}
    <title>Burello - Dashboard</title>
{% endblock %}

{% block header_section %}
    {% if user and completed_profile %}
        {% if show_main_label%}
            <i class="{{main_label_icon}}"></i>&nbsp;&nbsp;&nbsp;&nbsp;<span class="h4">{{main_label}}</span>
        {% endif %}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <form action="/boards/{{board_key}}/{{board_index}}/{{task_index}}/edit-task" method="POST" class="col-md-6 offset-md-3">
                <div class="row">
                    <h4 class="h4 d-flex justify-content-center mt-4 mb-2 text-secondary" style="width: 100%;">Edit Task</h4>
                </div>
                <div class="form-row ml-3 mr-3 mt-3">
                    <div class="form-group col-md-12">
                        <input style="text-align: center;" value="{{task.title}}" type="text" class="form-control" id="task_title" name="task_title" placeholder="Enter task Title">
                    </div>
                </div>
                <div class="form-row ml-3 mr-3 mt-3">
                    <div class="form-group col-md-12">
                        <label for="due_date">Due Date</label>
                        <input style="text-align: center;" value="{{task.due_date}}" type="date" class="form-control" id="due_date" name="due_date">
                    </div>
                </div>
                <div class="form-row ml-3 mr-3 mt-3">
                    <div class="form-group col-md-12">
                        <textarea class="form-control" id="task_desc" name="task_desc" rows="5" placeholder="Enter task description">{{task.description}}</textarea>
                    </div>
                </div>
                <div class="form-row mb-5 mt-3">
                    <div class="form-group col-md-6 offset-md-3">
                        <input type="submit" class="btn btn-block btn-primary" name="button" value="Update Task">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
