{% extends '_base.html' %}

{% block title %}
    <title>Burello - Dashboard</title>
{% endblock %}

{% block header_section %}
    {% if user and completed_profile %}
        {% if show_main_label%}
            <i class="{{main_label_icon}}"></i>&nbsp;&nbsp;&nbsp;&nbsp;<span class="h4">{{main_label}}</span>
        {% endif %}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <form action="/boards/{{board_key}}/{{board_index}}/invite-member" method="POST" class="col-md-6 offset-md-3">
                <div class="row">
                    <h4 class="h4 d-flex justify-content-center mt-4 mb-2 text-secondary" style="width: 100%;"></h4>
                </div>
                <div class="form-row ml-3 mr-3 mt-3">
                    <div class="form-group col-md-12">
                        <select style="text-align: center; text-align-last: center; -moz-text-align-last: center;" class="form-control" id="member_key" name="member_key">
                            <option value=""selected hidden>Choose Member</option>
                            {% for user in users %}
                                <option value="{{user.key.id()}}">{{user.firstname}} {{user.lastname}} <strong style="font-weight: 900 !important;">{{user.initials}}</strong></option>
                            {% endfor%}
                        </select>
                    </div>
                </div>
                <div class="form-row mb-5 mt-3">
                    <div class="form-group col-md-6 offset-md-3">
                        <input type="submit" class="btn btn-block btn-primary" name="button" value="Invite Member">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
